.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap {
  overflow-y: auto;
}

.home_panelList-wrap {
  flex: 1;
  display: flex;
}
.home_panel-wrap {
  flex-basis: 280px;
  padding: 1rem;
}
.home_list-wrap {
  flex: 1;
  padding: 1rem;
}
.center_title {
  /*align-content: center;*/
  text-align: center;
}

.fullPlace{
  /*background-color: #75E6DA;*/
  background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
  width: 1100px;
}