.label {
  margin-bottom: 2rem;
  font-weight: 600;
}
.input-group {
  margin-bottom: 2rem;
}
.label-range {
  margin-bottom: 2.5rem;
}

.label_cuisine {
  margin-bottom: 2rem;
  font-weight: 600;
}

.input-group_2 {
  margin-top: 25px;
  margin-bottom: 2rem;
  position: relative;
}

.first{
     position:absolute;
     margin-bottom: 2rem;
 }