.wdt{
    width: 90% !important;
}
.img_2
{
    height: 300px !important;
    width: 1134px;
}

.imgdetails
{
    height: 280px !important;
    width: 600px !important;

}

.imgpad
{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;

}
  .cls
  {
    padding-right: 300px !important;
    background-color: blue;
  }

.content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 50%;
  color: #fff;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.hr {
  height: 2px;
  background: white;
  width: 50%;
}
