.wdt{
    width: 90% !important;
}
.img_2
{
    height: 300px !important;
    width: 1134px;
}

.imgdetails
{
    height: 280px !important;
    width: 600px !important;

}

.imgpad
{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;

}
  .cls
  {
    padding-right: 300px !important;
    background-color: blue;
  }